 .Tile {
    height: 64px;
    width: 64px;
}

table {
    border: 5px solid black;
    background: black;
}

td {
    border-collapse: collapse;
    height: 64px;
    width: 64px
}

#white {
    background-color: rgba(247, 220, 145, 0.712);
}

#black {
    background-color: rgb(224, 139, 69);
}